name: check
on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: clippy, rustfmt
      - name: Check format
        run: cargo fmt --all -- --check
      - name: Check fix
        run: cargo fix && cargo fix
      - name: Check with clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Build Release
        run: cargo build --release
      - name: Run tests
        run: cargo test --all -- --nocapture

      # Run examples with debug
      - name: Run examples with debug
        run: cargo run --example builtin_fn

      # Run examples with debug
      - name: Run examples with release
        run: cargo run --example builtin_fn

      # example_shadow cargo fmt
      - name: Check examples format
        run: cargo fmt --all -- --check
        working-directory: ./example_shadow

      # example_shadow cargo clippy
      - name: Check examples with clippy
        run: cargo clippy --all -- -D warnings
        working-directory: ./example_shadow

      # example_shadow cargo run
      - name: Run example_shadow
        run: cargo run
        working-directory: ./example_shadow

      # build on nightly
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Build on nightly
        run: cargo build --release

  test:
    strategy:
      matrix:
        rust: [stable, beta, nightly]
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}
      - name: Install Tarpaulin
        uses: actions-rs/install@v0.1
        with:
          crate: cargo-tarpaulin
          version: 0.14.2
          use-tool-cache: true
      - name: Checkout
        uses: actions/checkout@v3
      - name: Test
        run: |
          cargo test --all-features
          cargo test --examples
      - name: Coverage
        if: matrix.rust == 'stable'
        run: cargo tarpaulin -o Lcov --output-dir ./coverage
      - name: Coveralls
        if: matrix.rust == 'stable'
        continue-on-error: true
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  publish-crate:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: Set up Rust
        uses: hecrj/setup-rust-action@v1
      - uses: actions/checkout@v3
      - name: Publish
        shell: bash
        run: |
          cargo publish --token ${{ secrets.CRATES_GITHUB_TOKEN }}
